
.card {
    margin: auto;
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow: 7px 7px 10px #a8a8a8, -7px -7px 10px #a8a8a8;
}

.carousel {
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px;
    background-color: #163172 !important;
    color: white;
}

.logo {
    width: 209px;
    height: 113px;
    margin-bottom: -60px;
    margin-top: -55px;
}

